body{
    margin: 0;
}

html, 
body {
    height: 100%;
}

.content-value{
    margin: 12px;
    border-style: solid;
    border-color: black;
    width: 70%;
    height: 68px;
    left: 180px;
    position: relative; 
}

.inline-display{
    display: inline-block;
}

.toolbar{
    height: 136px;
    background-color: #226cb6; 
}

#page{
    display: flex;
    height: calc( 100vh - 136px);
}

#navigation-panel{
    height: 100%;
    width: 150px;
    background-color: gray;
}

#content{
    height: 100%;
    flex: 1;
    overflow-y: auto; 
    background-color: rgb(255, 255, 255);
 }